.container {
    width: 100%;
    background: #F6F6F6;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-left: 5px;
}
